extends layout

block content
  .hero-unit.span10.offset1
    h1 Chat setup
    p Follow the steps below to create a chat account.
  .row-fluid
    ul.thumbnails
      li.span10.offset1
        .thumbnail
          h3 Create an account
          p If this the first time you've installed Adium you'll want to dismiss the add 
            account wizard and select "Add Account" and XMPP from the file menu.

          img(src="/images/chat/1-add-account.jpg", alt="Add account")
  .row-fluid
    ul.thumbnails
      li.span8.offset2
        .thumbnail
          h3 Label
          p Choose your username and password then click "Register New Account".
          img(src="/images/chat/2-username.jpg", alt="Username")
  .row-fluid
    ul.thumbnails
      li.span8.offset2
        .thumbnail
          h3 Server name
          p Enter the server name then click "Request New Account"
          img(src="/images/chat/3-server.jpg", alt="Server")

