extends layout

block content
  .hero-unit
    h1 #{title}
    p This is a template for a simple marketing or informational website. .
      It includes a large callout called the hero unit and three supporting .
      pieces of content. Use it as a starting point to create something more unique.
  p.thumbnails
    .thumbnail
      h3 Label
      p This is a caption
      img(src="/images/chat/1-add-account.jpg", alt="Add account")
    hr
    .thumbnail
      img(src="/images/chat/2-username.jpg", alt="Username")
    hr
    .thumbnail
      img(src="/images/chat/3-server.jpg", alt="Server")

