doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    style(type="text/css")
      body {
        padding-top 60px;
        padding-bottom 40px;
      }
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/javascript/bootstrap.js')
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    // [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    // Le fav and touch icons
    link(rel="shortcut icon", href="../assets/ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="../assets/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="../assets/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="../assets/ico/apple-touch-icon-72-precomposed.png")
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .brand(href="#") deets.ronnietaylor.com
          .nav-collapse
            ul.nav
              li
                a(href="/") Home
              li
                a(href="/chat") Chat
              li
                a(href="/about") About
    .container-fluid
      .row-fluid
        .span2 &nbsp;
        .span8
          block content
        .span2 &nbsp;

